*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#small-img1 img{
    width: 40px;
}
#small-img2 img{
    width: 40px;
}
#navbar{
    margin: 60px 10%;
}
.nav-container{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    align-items: center;
}
.nav-container h2{
    font-size: 26px;
}
ul{
    display: grid;
    grid-template-columns: repeat(6 , 1fr);
    list-style: none;
    margin-left: auto;
    align-items: center;
    width: 70%;
}
ul li a{
    text-decoration: none;
    color: black;
}
#banner{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    justify-content: space-between;
    align-items: center;
    margin: 10px 10%;
     
}
.banner-text{
    width: 75%;
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
    gap: 20px;
}

#banner h1{
    font-size: 52px;
}
#banner p{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;
    width: 80%;
    
}
#banner-btn{
    width: 35%;
    padding: 5px;
    border-radius: 20px;
    border: none;
    background-color: #E02C6D;
    color: white;
    font-size: 16px;
}
.banner-img img{
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: center;
     
    margin-right: 0;
    position: relative;
    right: -34%;
}
#sponsor{
    margin: 10px 10%;
}
.sponsor-container{
    display: grid;
    grid-template-columns: repeat(7 , 1fr);
    align-items: center;
    height: 100px;
    margin-top: 100px;
}
#card-section{
    margin: 50px 10%;
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
    justify-content: center;
    gap: 50px;
    text-align: center;
 


}
#card-section h2{
    font-size: 35px;
}
.card-list{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    row-gap: 50px;
    column-gap: 0px;
  
    margin-right: -2%;
    
 
 
    
    
}
.card-img img{
    margin: 10px;
}
.card{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
    text-align: left;
    gap: 10px;
    width: 80%;
    box-shadow: 0 5px 30px 0px rgb(175, 174, 174);
}
.card-more{
    text-align: right;
    color: #E02C6D;
    margin-right: 5%;
}
#feature{
    margin:80px 10% ;
}
.feature-container{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 10px;
     
}
.feature-img{
    
    width: fit-content;
}
.feature-text{
     margin-top: 20px;
     
    
}
.feature-text h2{
    font-size: 38px;
    
}
.feature-text p{
    font-size: 16px;
    line-height: 26px;
    width: 59%;
    margin: 10px 0px;
}
#secondary-btn{
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #E02C6D;
    color: white;
    border: none;
    border-radius: 5px;
}
#footer{
    background-color: rgb(4, 4, 61);
    color: white;
}
.footer-container{
    padding: 60px 0px;
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
    justify-content: center;
    text-align: center;
    gap: 15px;
}
.footer-container h2{
    font-size: 35px;
}


@media screen and (max-width: 576px) {
    *{
        margin: 0%;
        
    }
    .nav-container li a{
        display: none;
    }
    .nav-container{
        
        margin: 0px;
    }
    .nav-container h2{
        text-align: center;
        width: 160%;
        text-align: center;
    }
    #banner{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0%;
    }
    .banner-text{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        bottom:-390px ;

        margin-left: 0px;
    }
    .banner-text .banner-head h1{
        font-size: 25px;
        font-weight: 600px;
    }
    .banner-img{
        width: 100%;
        margin-right: 40%;
        position: relative;
        bottom:310px ;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .banner-img img{
        width: 70%;
    }
    #sponsor{
        margin: 0%;
        width: 100%;
    }
    .sponsor-container{
        display: grid;
        grid-template-columns: repeat(4 , 1fr);
        gap: 20px;
        justify-items: center;
        margin: 0%;
        width: 100%;
   
    }

    .card-list{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .feature-container{
        display: flex;
        flex-direction: column;
    }
     
    .feature-text{
        padding: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .feature-text h2{
        width: 100%;
    }
    .feature-text p{
        padding: 0px;
        width: 100%;
    }
} 